<!DOCTYPE html>
<html lang="en">
	<head>
		<title>whaet boared</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="/style.css" />
		<script src="/socket.io/socket.io.min.js"></script>
		<script src="/client.js" defer></script>
	</head>
	<body>
		<div id="loading">loading...</div>
		<canvas id="canvas"></canvas>
		<div class="bottom">
			<div class="picker">
				<button type="button" id="#F45B69"></button>
				<button type="button" id="#FE7F2D"></button>
				<button type="button" id="#FCCA46"></button>
				<button type="button" id="#87FF65"></button>
				<button type="button" id="#00A5CF"></button>
				<button type="button" id="#7D5BA6"></button>
				<button type="button" id="#312F2F"></button>
				<button type="button" id="white"></button>
			</div>
		</div>
	</body>
</html>
